---
interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "Full Stack Developer especializado en Laravel, Angular, Ionic y TypeScript" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}>
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
  <slot />
</body>
</html>

<style is:global>
  @import '../styles/global.css';

   /* Importar fuentes Poppins locales */
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.woff2') format('woff2'),
         url('/fonts/Poppins.woff') format('woff'),
         url('/fonts/Poppins.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>